<div v-show="!isModify">
    {% getCodeMap()['{listCode}'][{model2}] %}

    <span v-show="'y' === {model2}">{%$.setNumberFormat({model})%}원</span>

</div>
<!--text = model1 radio = model2-->
<div v-show="isModify">
    <div class="" >
        <label class="radio-inline " v-for="(eachValue, eachKey) in getCodeMap()['{listCode}']">
            <input type="radio" :name="'project-added-info-{key2}'"  :value="eachKey" v-model="{model2}"  />
            <span class="font-12">{%eachValue%}</span>
        </label>
    </div>
    <div class="mgt5">
        <!--{keyDesc} // {key2Desc}-->
        <input type="number" class="form-control" v-model="{model}" v-show="'y' === {model2}" placeholder="{keyDesc}" >
    </div>
</div>
