.modal.fade .modal-dialog.modal-dialog-zoom {
    -webkit-transform: translate(0, 0) scale(0.5);
    -moz-transform: translate(0, 0) scale(0.5);
    -ms-transform: translate(0, 0) scale(0.5);
    -o-transform: translate(0, 0) scale(0.5);
    transform: translate(0, 0) scale(0.5);
}

.modal.show .modal-dialog.modal-dialog-zoom {
    -webkit-transform: translate(0, 0) scale(1);
    -moz-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
    -o-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
}

.modal .modal-dialog .modal-content {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.modal .modal-dialog .modal-content .modal-header {
    height: 60px;
    padding: 0 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ebebeb;
    border-bottom: none;
}

.modal .modal-dialog .modal-content .modal-header .modal-title {
    font-size: 17px;
    font-weight: 600;
}

.modal .modal-dialog .modal-content .modal-header button.close {
    background-color: white;
    text-shadow: none;
    opacity: 1;
    margin: 0;
    font-size: 23px;
    padding: 0;
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.modal .modal-dialog .modal-content .modal-header button.close:hover {
    color: #646464;
}

.modal .modal-dialog .modal-content .modal-header button.close > * {
    font-size: initial;
}

.modal .modal-dialog .modal-content .modal-body {
    padding: 1.5rem;
}

.modal .modal-dialog .modal-content .modal-footer {
    height: 60px;
}